.tabela{
    width: 100%;
    background-color: white;
    
    /* BOrdas para facilitar o alinhamento */
    border-left: #00cc66 1px dashed;
    border-right: #00cc66 1px dashed;
    box-sizing: border-box;
}
.tabela tr{
    border-bottom: #0000cc 1px dashed;
}
.tabela td {
    padding: 10px;
    
    border-left: #cc0000 1px dashed;
}
.tabela .titulo{
    min-width: 200px;
    text-align: right;
}